.detailedmovie {
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 50px;
	height: 75vh;
	padding: 5px;
	align-items: center;

	&__image img {
		width: 100%;
		object-fit: cover;
	}

	&__descr {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&__info {
			margin-top: 5px;
			display: flex;
			align-items: center;
			gap: 5px;

			img {
				width: 20px;
			}

			.dot {
				width: 5px;
				height: 5px;
				border-radius: 100%;
				background: red;
			}
		}
	}
}
