@import '../../styles/variables.scss';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		font-weight: bold;
		font-size: 28px;
		line-height: 37px;
		a {
			display: flex;
			gap: 10px;
		}
	}
	&__menu {
		ul {
			display: flex;
			justify-content: space-between;
			font-size: 20px;
			line-height: 32px;
			li {
				margin: 0 12px;
				a:hover {
					color: $main-color;
				}
				a.active {
					color: $greenYellow;
				}
			}
		}
	}
}
